<appSettings>
   
  <add key="EdgeCacheTag" value="Edge-Cache-Tag"/> <!-- Header's name -->
  <add key="TipoCacheTagModelo" value="data-model"/> <!-- type of cache tag-->
  <add key="PrefixoCacheTag" value="QAS"/> <!-- Environment identifier -->  
   
 </appSettings>
  
